$color-primary:#2289ff;
$color-secondary:#314862;
$color-accent:#193f6a;
$font-poppions:"Poppins",serif;

/* Custom Classes*/


.bg-primary{
    background-color:$color-primary;
}
.color-primary{
    color:$color-primary;
}
.bg-secondary{
    background-color:$color-secondary;
}
.color-secondary{
    color:$color-secondary;
}
.bg-accent{
    background-color:$color-accent;
}
.color-accent{
    color:$color-accent;
}
.btn-theme{
    margin:0;
    box-shadow: none;
    font-family:$font-poppions;
    font-size:16px;
    font-weight:500;
    padding:8px 20px;
    background-color:$color-primary ;
    color:#fff;
    border-radius:30px 0 30px 30px;
    transition:.5s ease;
    &:hover{
        box-shadow: none;
        color:#fff;
        background-color:$color-accent;
    }
}

.btn-theme-2{
    margin:0;
    box-shadow: 0px 8px 16px 0px rgba(34, 137, 255,52%);
    font-family:$font-poppions;
    font-size:16px;
    font-weight:500;
    padding:10px 30px;
    background-color:$color-primary ;
    color:#fff;
    border-radius:30px;
    transition:.5s ease;
    &:hover{
        color:#fff;
        background-color:$color-accent;
    }
}

.btn-play{
    margin:0;
    box-shadow: none;
    font-family:$font-poppions;
    font-size:16px;
    font-weight:500;
    padding:10px 16px;
    background-color:$color-secondary ;
    color:#fff;
    border-radius:50%;
    transition:.5s ease;
    &:hover{
        box-shadow: none;
        color:$color-primary;
        background-color:$color-accent;
    }
}

/*header here*/


header.header{
    width:100%;
    color:$color-secondary;

    nav.navbar{
        box-shadow: none;
        color:$color-secondary;

        .navbar-brand{
                    font-family:$font-poppions;
                    font-weight:500;
                    color:$color-secondary;
                    font-size:20px;
        }
        .nav-item{
            margin:auto 5px;
        .nav-link{
            font-family: $font-poppions;
            color:$color-secondary;
            font-weight:500;
            padding:10px 20px;
            transition:.5s ease;
            &:hover,&.active{
                color:$color-primary;
            }
        }
    }
    }
}


/*header here*/

/* hero banner style */
#hero-banner{
    width:100%;
    color:$color-secondary;
    font-family: $font-poppions;
    padding:50px 0;
    p{
        font-weight:400;
    }

    .image{
        border-radius:80px 80px 0px 80px;
        overflow:hidden;
    }

}
 /* search area style */
 #search-section{
     margin-top:50px;
     margin-bottom:100px;
 .search-area{
     border-radius:80px;
     padding:15px 50px;
     font-family: $font-poppions;
     select{
         padding:5px;
         border:none;
         outline:none;
         width:80%;
         margin-bottom:3px;
     }
     input{
        border:1px solid #fff;
        outline:none;
     &:focus{
        border:1px solid $color-secondary;
        outline:none;
        box-shadow: none;
     }
        
     }
     button.btn-theme{
         border-radius:30px;
         padding:12px 40px;
     }

 }
}
/* About Section */
 #about-section{
     width:100%;
     padding:120px 0 ;
     background-color: #eee;
     font-family: $font-poppions;
     .image{
         border-radius:80px 0px 80px 80px;
         overflow:hidden;
         img{
             width:100%;
             height:400px;
             object-fit: cover;
         }
     }
     h1{
         color:$color-secondary;
     }
 }
/* Services Section */
#services-section{
    padding:100px 0 ;
    font-family: $font-poppions;

    .sevrices-show{
        padding:20px 30px ;
        text-align:center;
        border-radius:0px 30px 0px 30px;
        margin:10px;
        i.fas{
            padding:20px;
            width:62px;
            color:$color-primary;
            background-color:#eee;
            border-radius:50%;
            text-align:center;
            font-size:20px;
            margin:10px;

        }
        p{
            font-size:14px;
            font-weight:400;
        }
        
    }
}

/* Property Section */
#property-section{
    width:100%;
    background-color:#eee;
    padding:50px 0;
    font-family:$font-poppions;
    color:$color-secondary;
    .text-end a{
        color:$color-secondary;
        font-size:16px;
        font-weight:500;
        transition:1s ease;
        &:hover{
            color:$color-primary;

        }
    }
    #property-slider{
        width:100%;
        height:400px;
        margin-top:50px;
        .swiper{
            width:100%;
            height:100%;
            .property-list{
                padding:10px;
                background-color:#fff;
                border-radius:0px 30px 0px 30px;
                color:#000;
                .image{
                    width:100%;
                    height:200px;
                    border-radius:0px 30px 0px 30px;
                    overflow:hidden;
                    margin-bottom:10px;
                    img{
                        width:100%;
                        height:100%;
                        object-fit:cover;
                    }
                    

                }
                p{
                    font-weight:500;
                }
            }
        }
    }
}

/*work-section here*/
#work-section{
    width:100%;
    padding:100px 0;
    text-align:center;
    background-color:#fff;
    font-family:$font-poppions;

    h1{
        color:$color-secondary;

    }
    p{
        font-weight:400;
    }
    .sevrices-show{
        padding:20px 30px ;
        text-align:center;
        border-radius:0px 30px 0px 30px;
        margin:10px;
        cursor:pointer;
        transition:.5s ease;
        i.fas{
            padding:20px;
            width:62px;
            color:$color-primary;
            background-color:#eee;
            border-radius:50%;
            text-align:center;
            font-size:20px;
            margin:10px;

        }
        p{
            font-size:14px;
            font-weight:400;
        }
        &:hover{
            background-color:#fff;
            box-shadow:.2rem .5rem rgba(0,0,0,.15) !important ;
        }
        
    }
}

/*Feature-section here*/
#feature-section{
    width:100%;
    text-align:center;
    font-family: $font-poppions;
    color:$color-secondary;

    .property-list{
        padding:10px;
        background-color:#fff;
        border-radius:0px 30px 0px 30px;
        color:#000;
        .image{
            width:100%;
            height:200px;
            border-radius:0px 30px 0px 30px;
            overflow:hidden;
            margin-bottom:10px;
            img{
                width:100%;
                height:100%;
                object-fit:cover;
            }
            

        }
        p{
            font-weight:500;
        }
    
}
.btn.btn-theme{
    border-radius:30px;
}
}

/*Feature-section here*/

/*Testimonial-Section Here*/
#testimonial-section{
    width:100%;
    padding:100px 0;
    font-family:$font-poppions;
    text-align:center;
    color:$color-secondary;
    p{
        font-weight:500;
    }
    .testimonial-list{
     .image{
        border-radius:100% 100% 0 100%;
        overflow:hidden;
        height:330px;
        img{
            width:100%;
            height:100%;
            object-fit:cover;

        }
    }
}
i.fas{
    color:$color-primary;
    opacity:0.1;
}
}
/*Testimonial-Section Here*/

/*mail-Section Here*/
#mail-section{
    width:100%;
    padding:100px 0;
    font-family:$font-poppions;
    text-align:center;
    color:$color-secondary;
    .form{
        border-radius:35px;
        padding:10px 20px;
        input{
            padding:15px 0;
            border:none;
            &:focus{
                outline:none;
                box-shadow:none;
                border:none;
            }
        }
        .btn-theme{
            border-radius:30px;
            padding:12px 40px;
        }

    }
}

/*mail-Section Here*/

/*Footer-Section Here*/
#footer-section{
    width:100%;
    background-color:$color-primary;
    color:#fff;
    padding:50px 0;
    font-family:$font-poppions;
    border-radius:100px 0 0 0 ;
    .row{
        hr{
            color:#fff;
        }
    }
    ul{
        list-style:none;
        margin:0;
        padding:0;
        li{

       
         a{
             color:#fff;
             font-size:13px;
             transition:0.5s ease;
             &:hover{
                 opacity:0.7;
             }

        }
    }
    }
}
/*Footer-Section Here*/

/*Responsive Css */

@media screen and (max-width:991px) {
    #testimonial-section{
        padding:50px 0;
      .testimonial-list{
       .image{
          border-radius:100% 100% 100% 100%;
          overflow:hidden;
          height:240px;
          box-shadow:.1rem .3rem rgba(0,0,0,.15) !important ;
          border:5px solid #fff;
       }
       i.fas{
           
           font-size:56px !important;
   }
   }
   }

}

@media screen and (max-width:570px) {
    #search-section{
        margin-top:10px;
        margin-bottom:100px;
    .search-area{
        border-radius:80px;
        padding:15px 50px;
        font-family: $font-poppions;
        select{
            padding:5px;
            border:none;
            outline:none;
            width:80%;
            margin-bottom:3px;
        }
        input{
           border:1px solid #fff;
           outline:none;
        &:focus{
           border:1px solid $color-secondary;
           outline:none;
           box-shadow: none;
        }
           
        }
        button.btn-theme{
            border-radius:30px;
            padding:12px 40px;
            width:100%;
            margin:20px 0;
        }
   
    }
   }



   /* Services Section*/
   #services-section{
       .d-flex{
           flex-direction:column; 
       }
   }

     /* Work Section*/

   #work-section{
    .d-flex{
        flex-direction:column; 
    }
   }
      /* Testimonial Section*/
 #testimonial-section{
     padding:50px 0;
   .testimonial-list{
    .image{
       border-radius:100% 100% 100% 100%;
       overflow:hidden;
       height:135px;
       box-shadow:.1rem .3rem rgba(0,0,0,.15) !important ;
       border:5px solid #fff;
    }
    i.fas{
        color:#000;
        font-size:48px !important;
}
}
}

/* mail Section*/
#mail-section{
    padding:50px 0 100px 0;
    .form{
    padding:20px;
    
    .btn-theme{
        width:100%;
        margin:20px 0 10px 0;
    }
}
}
/* mail Section*/
#footer-section{
    h3{
        text-align:center;
    }

}
}










